@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    position: relative;
    /* height: 5000px; */
}
/* **********start nav*********** */
nav{
    display: flex;
    position: absolute;
    width: 95%;
    justify-content: start;
    align-items: center;
    padding: 4px 5px 0 13px;
}
nav .spering{
    display: flex;
    align-items: center;
    color: white;
}
nav .spering img{
    height: 54px;
}
nav ul{
    display: flex;
    list-style: none;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 39%; */
    gap: 42px;
    margin-left: 28px;
}
ul li a{
    text-decoration: none;
    color: white;
}
.login{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 13px;
    width: 50%;
    margin-right: 10px;
    justify-content: end;
    padding-right: 0;
    color: white;
}
@media (max-width:900px) {
    nav{
        flex-direction: column;
    }
    nav .spering {
        justify-content: center;
        align-items: center;
    }
    nav ul {
        margin-right: 0;
        width: 72%;
        padding: inherit;
        gap: 36px;
        margin-left: 0;
    }
    .login{
        margin-right: inherit;
        justify-content: center;
    }
}
/* **************end nav**********  */
/* **********  start header **********  */
header{
    height: 558px;
    display: flex;
    justify-content: space-between;
}
header .right{
    width: 60%;
    display: flex;
    align-items: center;
    background-color: #1a2e35;
    padding-left: 86px;
}
header .right .contact{
    color: white;
}
header .right .contact h2{
    margin-bottom: 4px;
}
header .right .contact p{
    margin-bottom: 25px;
}
header .right .contact input{
    width: 8rem;
    height: 2rem;
    border: 0;
}
header .right .contact input[value="About us"]{
    background-color: #ff4f5a;
    color: white;
    margin-bottom: 12px;
}
header .right .contact input[value="Get A Quate"]{
background-color: white;
}
header .left{
    background-color: #1cbbb4;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .left img{
    width: 80%;
}
@media (max-width:900px) {
    header{
        flex-direction: column;
        height: auto;
        /* width: 108vw; */
    }
    header .right{
        width: 100%;
        padding: 0;
        flex-direction: column;
        /* align-items: center; */
        height: auto;
        justify-content: space-evenly;
        padding-bottom: 49px;
        
    }
    header .right .contact {
        width: 67%;
        margin-top: 279px;
    }
    header .left {
        background-color: #1cbbb4;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        height: 500px;
        padding-bottom: 42px;
        /* width: auto; */
    }
    header .left img {
        width: 60%;
    }
} 
@media (min-width:230px) and (max-width:400px) {
    header .left img {
        width: 100%;
    }
}

/* **********  end header **********  */

/* start part3 */
section{
    margin-bottom: 24px;
}
section .part3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    width: 63%;
}
section .part3 img{
    width: 40%;
}
section .part3 .text{ 
    margin-left: 28px;
    width: 60%;
}
section .part3 .text h2{
    margin-bottom: 10px;

}
section .part3 .text p{
    /* width: 30re; */
    margin-top: 0%;
}
section .part3 input{
    width: 8rem;
    height: 2rem;
    border: 0;
}
section .part3 .text input[ value="Read More"]{
    background-color: #ff4f5a;
    color: white;
}
section .part3 .text input[value="Hire"]{
    color: white;
    background-color: #1a2e35;
}
@media (max-width: 700px) {
    section .part3 {
        width: 100%;
        flex-direction: column;
    }
    section .part3 img {
        width: 50%;
    }
    section .part3 .text {
        width: 75%;
        margin-left: auto;
    }
    section .part3 .text input[ value="Read More"]{
    margin-bottom: 5px;
    }
}
/* end part3 */
/* start category */
.category{
    background-color: #1cbbb4;
}
.category h3{
    border-bottom: 2px solid white;
    margin-bottom: 40px;
    padding-top: 40px;
    color: white;
    display: inline-block;
    font-size: 26px;
    margin-top: 0;
}

.category .all_box{ 
    display: flex;
    justify-content: center;
    width: 70%;
    height: auto;
    flex-wrap: wrap;
    margin-left: auto;
    align-items: baseline;
    flex-direction: row;
    margin-right: auto;

}
.category .all_box .box{
    width: 33%;
    color: white;
    height: 150px;
    font-size: 14px;
    text-align: center;
}

.category .all_box .box img{
    width: 16%;
}
@media (min-width:351px) and (max-width:600px) {
    .category .all_box .box{
        width: 50%;
    }
}
@media (max-width:350px) {
    .category .all_box .box{
        width: 100%;
    }
}
/* end category */
/* start about */
.s_about .about{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.s_about .about img{
    width: 50%;
}
.s_about .about div{
    max-width: 70%;
}
.s_about .about h3{ 
    margin-bottom: 0;
    font-size: 24px;
    margin-top: 0px;
}
.s_about .about p{
    margin-top: 8px;
}
.s_about .about input {
    width: 8rem;
    height: 2rem;
    border: 0;
    background-color: #ff4f5a;
    color: white;
}
/* end about */
/* start work */
.s_work{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.s_work .left_work{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.s_work .left_work .span_img{
    gap: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.s_work .left_work .span_img img{
    background-color: #1a2e35;
    /* color: white; */
    padding: 10px;
    border-radius: 100%;
    width: 13%;
}
.s_work .left_work .span_img .million span{
    color: #ff5d67;
}
.s_work .left_work p{
    margin: 3px 0 0 0;
    font-size: 16px;
    font-weight: 700;
}


.s_work>img{
    width: 45%;
}

@media (max-width:830px) {
    .s_work {
        flex-direction: column;
    }
    .s_work>img {
        width: 100%;
    }
    .s_work .left_work {
        display: flex;
        flex-direction: column;
        margin-left: 12%;
    }
}
/* end work */
/* start testimonial */
.testimonial{
    text-align: center;
}

.testimonial>div{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    height: auto;
    padding-bottom: 13px;
    box-shadow: 0px 2px 8px 4px #e9e9e9;
}
.testimonial>div>h4{
    margin: 8px 0 12px 0;
}
.testimonial>div>p{
    margin: 0;
    line-height: 19px;
}
.testimonial>div>i{
    font-size: 30px;
    margin-top: 12px;
}
/* end testimonial */
/* start footer */
footer{
    background-color: #1a2e35;
    margin-top: 80px;
    padding-bottom: 30px;
}
footer .all{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-top: 52px;
    flex-wrap: wrap;
}
footer .all .spering{
    display: flex;
    align-items: center;
    gap: 6px;
}
footer .all .icon{
    display: flex;
    gap: 12px;
}
footer .all2{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 19px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    color: white;
}
footer .all2 .one,
footer .all2 .two,
footer .all2 .three{
    width: 10%;
    max-width: 10%;
}
footer .all2 h5{
    margin-bottom: 7px;
    font-size: 16px;
}
footer .all2 ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: start;
    width: inherit;
    padding: 0;
    gap: 10px;
    font-size: 12px;
    font-weight: 100;
}
footer .all2 p{
    font-size: 12px;
}
footer .all2 .four{
    width: 13%;
}
footer .all2 .four>h5 {
    margin-bottom: 18px;
    font-size: 16px;
}
footer .all2 input[type="email"]  {
    margin-bottom: 12px;
    width: auto;
    height: 20px;
    /* max-width: 10rem;*/
}
footer .all2 input[type="submit"]{
    width: 105px;
    height: 31px;
    border: 0;
    color: white;
    background-color: #ff4f5a;
}
footer .all3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    /* width: 50%; */
    flex-wrap: wrap;
    /* max-width: 49%; */
    /* text-align: center; */
    margin-left: 10px;
    margin-right: 11px;
    margin-top: 35px;
}

@media (min-width:450px) and (max-width:900px) {
    footer .all2 .one,
footer .all2 .two,
footer .all2 .three{
    width: 30%;
    max-width: none;
}
footer .all2 .four{
    width: 30%;
}
footer .all3>div{
    /* width: 50%; */
    margin-bottom: 9px;
}
}
@media (max-width:451px) {
    footer .all {
    /* flex-direction: column; */
    gap: 19px;
    }
    footer .all2 .one,
    footer .all2 .two,
    footer .all2 .three{
        width: 60%;
    margin-left: auto;
    margin-right: auto;
        max-width: none;
    }
    footer .all2 {
        text-align: center;
    }
    footer .all2 .four{
        width: 60%;
    margin-left: auto;
    margin-right: auto;
    }
    footer .all3 {
        flex-direction: column;
        gap: 15px;
    }
}
/* end footer */
.end{
    text-align: center;
    margin: 12px 0 6px 0;
}